{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinations</title>
    <link rel="stylesheet" href="{% static 'core/styles/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <p class="navtitle">Destinations</p>
            <div>
                {% if is_authenticated %}
                <a class="navlink" href="{% url 'destinations' %}">Destinations</a>
                <a class="navlink" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <a class="navlink" href="{% url 'new_sessions' %}">Sign In</a>
                    <a class="navlink" href="{% url 'new_user' %}">Create Account</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% if error_message %}
            <div> {{ error_message }} </div>
        {% endif%}

        <div class="title">
            Public Destinations
        </div>
        <div class="cardList">
            {% for destination in destinations %}
            <div class="card">
                <p class="cardHeading">{{ destination.name }} {{ destination.rating }}/5</p>
                <p class="cardBody"> {{ destination.review }}</p>
                <p class="cardName">Author: {{ destination.user.name }}</p>
            </div>
            {% empty %}
            <div class="card">
                <p class="cardHeading">No public destinations</p>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>